header#header
  div.header-content
    h2#site-name 
      a(href="/") Wuthering Waves Max-Mining
    nav 
      a(href="/") Home
      a(href="/characters") Characters
      a(href="/weapons") Weapons
      a(href="/relicSets") Relic Sets